extends base.pug
block style 
    style 
        include ../public/CSS/style.css
        include ../public/CSS/styleform.css

block content    
    form(action="/contact", method="POST", class="myform")
        h1 Contact Us
        <input type="text" id = “name” name="name" placeholder="Enter your name..">
        <input type="phone" class= “myInput” name="phone" placeholder="Enter your phone number..">
        <input type="email" class= “myInput” name="email" placeholder="Enter your email..">
        <input type="text" name="address" placeholder="Your address..">
        <input type="password" name="password" placeholder="password">
        button.btn(type="submit", name="submit") Submit
        
block footer 
    | hey this is contact page
     
