extends base.pug
block style 
    style 
        include ../public/CSS/style.css

block content
  .section    
    section.firstSection
      #name CHAT APPLICATON
    section.secondSection
      | Hey this is our second section
    section.thirdSection
      | Hey this is our third section

block footer 
    | Hey this is footer
    
